.control-section-construction-hub h3.accordion-section-title {
    color: #f05523 !important;
  	border: 2px solid #f05523 !important;
  	border-left: none !important;
  	border-right: none !important;

}
a.button.button-secondary.alignright{
    background: #f05523;
    color: #FFFFFF !important;
}
